@import '../../../scss/variables';

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $charcoal;
  z-index: 9999;
  justify-content: space-between;
  transition: margin-left 0.3s ease-out;
  h1 {
      display: inline;
      color: $white;
      letter-spacing: 0.25rem;
    }
}
.logo {
  padding: 0 2rem;
  border-right: 1px solid $slate-gray;
  margin-right: 1rem;
}
.nav-start {
    display: flex;
}
.meta {
    display: flex;
    justify-content: space-between;
    align-items: center
}
.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1.5rem;
  width: 2rem;
  padding: 1rem;
  border: none;
  cursor: pointer;
  z-index: 9999;
  background-color: $onyx;
}
.doc-name-container{
    display: flex;
    align-items: center;
}
.file-name > * {
    margin: 0.25rem;
}
span {
  display: block;
  width: 2rem;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: $white;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

span:first-child {
  transform-origin: 0% 0%;
}

span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.open ~ menu {
    left: 0;
}
.open span:nth-child(1),
.open span:nth-child(3) {
  transform: translateY(0) rotate(0);
}

.open span:nth-child(2) {
  opacity: 0;
}

.open span:nth-child(1) {
  transform: translateX(4px) rotate(45deg);
}

.open span:nth-child(3) {
  transform: translateY(4px) rotate(-45deg);
}
.content {
  position: relative;
  margin-top: 64px;
  transition: margin-left 0.3s ease-out;
}

.shifted {
  margin-left: 20%;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  background-color: #666;
  z-index: 9999;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  overflow-y: auto;
}

.openMenu {
  transform: translateX(0);
}

.menu {
    background-color: #666;
}
