@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "./navbar-media.scss";

.navbar {
  @include element-style(
    $top: 0,
    $left: 0,
    $width: 100%,
    $bg-color: $charcoal,
    $z-index: 9999
  );
  @include transition(margin-left 0.3s ease-out);
  h1 {
    display: inline;
    color: $white;
    letter-spacing: 0.25rem;
  }
}
.logo {
  padding: 0 2rem;
  border-right: 1px solid $slate-gray;
  margin-right: 1rem;
}

.hamburger {
  flex-direction: column;
  @include element-style(
    $width: 2rem,
    $height: 1.5rem,
    $z-index: 9999,
    $bg-color: $onyx
  );
  padding: 1rem;
  border: none;
  cursor: pointer;
}

span {
  display: block;
  @include element-style(
    $width: 2rem,
    $height: 0.25rem,
    $z-index: 1,
    $bg-color: $white
  );
  margin-bottom: 5px;
  border-radius: 3px;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.upper {
  transform-origin: 0% 0%;
}

.middle {
  transform-origin: 0% 100%;
}
.open ~ menu {
  left: 0;
}
.open .upper,
.open .lower {
  transform: translateY(0) rotate(0);
}

.open .middle {
  display: none;
}

.open .upper {
  transform: translateX(4px) rotate(45deg);
}

.open .lower {
  transform: translateY(4px) rotate(-45deg);
}
.content {
  margin-top: 64px;
  transition: margin-left 0.3s ease-out;
}

.shifted {
  margin-left: calc(100vw - 80%);
}

.hamburger-menu {
  @include element-style(
    $top: 0,
    $left: 0,
    $width: calc(100vw - 80%),
    $bg-color: $gunmetal,
    $z-index: 9999,
    $height: 100%
  );
  position: fixed;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.openMenu {
  transform: translateX(0);
}
.doc-title,
.doc {
  margin: 0.25rem;
}
.doc-title {
  color: $battleship-gray;
}
.doc {
  color: $white;
}
.btn-container {
  display: flex;
  position: fixed;
  right: 0;
  > * {
    margin: 0 0.75rem;
  }
}
