@import '../scss/variables';

::ng-deep blockquote {
  background-color: $white-smoke;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-left: 0.25rem solid $coral-red;
  padding-left: 0.25rem;
}


::ng-deep ul li::marker {
    color: $coral-red;
}
.app-container {
  min-height: 100vh;
}
.app-container.darkmode {
  background-color: $dark-gray;
  color: $silver;
  
  ::ng-deep blockquote {
    background-color: $charcoal;
  }
}