@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab:wght@300;400;700&family=Roboto:wght@300;400;500&display=swap");
@import "./scss/_variables";
body {
  font-family: $slab;
  margin: 0;
  overflow-x: hidden;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  color: $onyx;
}
h1,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.75rem;
  font-weight: 300;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.75rem;
  color: $coral-red;
}

p {
  font-size: 0.8rem;
}

button {
  all: unset;
  cursor: pointer;
}
.primary-btn {
  display: flex;
  align-items: center;
  background-color: $coral-red;
  color: $white;
  gap: 0.25rem;
  padding: 0.6rem 1rem;
  border-radius: 0.25rem;
  transition: 0.3s ease-in;
  &:hover {
    background-color: $dark-salmon;
  }
}

.flex {
  display: flex;
}
.relative {
  position: relative;
}

.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}

.flex-column {
  flex-direction: column;
}
@media(max-width: 767px) {
  .primary-btn {
    gap: 0;
  }
}