// COLORS

$dark-gray: #151619;
$gunmetal: #1D1F22;
$charcoal: #2B2D31;
$onyx: #35393F;
$slate-gray: #5A6069;
$battleship-gray: #7C8187;
$silver: #C1C4CB;
$light-gray: #E4E4E4;
$white-smoke: #F5F5F5;
$white: #FFFFFF;
$coral-red: #E46643;
$dark-salmon: #F39765;


// TYPOGRAPHY

$slab: 'Roboto Slab', serif;
$regular: 'Roboto', sans-serif;
$mono: 'Roboto Mono', monospace;